<input
    type="{{ type }}"
    id="{{ name }}"
    name="{{ name }}"
    title="{{ title }}"
    class="{{ className }}"
    placeholder="{{ placeholder }}"
>
<label class="label">{{ labelText }}</label>
<small class="error-text"></small>
